# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Frontend
node_modules
dist
dist-ssr
.vite
*.local

# Env
.env
.env.*
!.env.example

# Rust / Tauri
target/
**/*.rs.bk

# Tauri build
src-tauri/target/
src-tauri/Cargo.lock

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
*.exe
*.dll
*.so
*.dylib

# Misc
coverage/

# Android builds
*.apk
*.aab
*.apk.idsig

# Keystore - cle privee
*.keystore
*.jks
sign_apk.txt

# update local
src/components/sidebar/AboutModal.tsx
package-lock.json
